@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

:root {
  --primary-color: #5195a8;
  --secondary-color: #70eaff;
  --text-color: #262626;
  --background-color: #f6f6f6;
  --border-color: #dadada;
  --button-color: #52ad9c;
  --button-hover-color: #428a7d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("https://hebbkx1anhila5yf.public.blob.vercel-storage.com/background-image-4236532-background-images-Rl9Ue0Ue5Ue5Ue5Ue5Ue5Ue5Ue5Ue5Ue5Ue5Ue5Ue5.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto Condensed", sans-serif;
  color: var(--text-color);
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1040px;
  padding-top: 35px;
  margin: 5vh auto;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.d-flex {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

form {
  flex: 3;
  margin-right: 25px;
}

.Yorder {
  flex: 2;
}

.title {
  background: linear-gradient(
    to bottom right,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  border-radius: 5px 5px 0 0;
  padding: 20px;
  color: #fff;
}

.required {
  color: red;
}

label,
table {
  display: block;
  margin: 15px 0;
}

label > span {
  display: inline-block;
  width: 25%;
  margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
  width: 70%;
  height: 40px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--text-color);
}

select {
  width: 72%;
  height: 40px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.Yorder {
  margin-top: 15px;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid var(--border-color);
  padding: 15px 0;
}

tr > td:nth-child(1) {
  text-align: left;
  color: var(--text-color);
}

tr > td:nth-child(2) {
  text-align: right;
  color: var(--button-color);
}

p {
  color: #888;
  margin: 10px 0;
}

.Yorder > div {
  padding: 15px 0;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: var(--button-color);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: var(--button-hover-color);
}

@media (max-width: 768px) {
  .container {
    margin: 0;
    padding: 10px;
  }

  .d-flex {
    flex-direction: column;
  }

  form,
  .Yorder {
    flex: 1;
    margin-right: 0;
  }

  label > span {
    width: 100%;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  select {
    width: 100%;
  }

  .Yorder {
    margin-top: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}
