* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  transition: 1s ease;
}

body {
  background-image: url("images\Favicon\android-chrome-512x512.png");
  background-attachment: fixed;
  background-size: cover;
  perspective: 1000px;
  background-position: 100%;
  opacity: 1;
  background-blend-mode: darken;
}

.box {
  position: absolute;
  width: 350px;
  height: 500px;
  background: none;
  left: calc(50% - 175px);
  top: calc(50% - -50px);
  transform-style: preserve-3d;
  position: absolute;
}

.box div {
  width: 350px;
  height: 500px;
  position: absolute;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px #555353, 0px 0px 10px #353535;
}

.box div:nth-child(5) {
  height: 350px;
}

.a {
  transform: rotateY(0deg) translateZ(175px);
}

.b {
  transform: rotateY(90deg) translateZ(175px);
}

.c {
  transform: rotateY(180deg) translateZ(175px);
}

.d {
  transform: rotateY(270deg) translateZ(175px);
}

.e {
  transform: rotateY(-90deg) translateZ(175px);
}

.a label {
  position: relative;
  width: 200px;
  left: 65px;
  top: 170px;
  color: rgb(175, 171, 171);
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  margin: 20px 0px;
  text-align: center;
  display: block;
  background-image: linear-gradient(45deg, #000000, #2b2b2c);
  border-radius: 25px;
  cursor: pointer;
}

#sup, #btn {
  background-image: linear-gradient(45deg, #000000, #3a3b3b);
  color: rgb(195, 187, 187);
  cursor: pointer;
}

#btn:focus {
  width: calc(100% - 80px);
  left: 40px;
}

.title {
  width: 100%;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  position: absolute;
}

.frm input {
  position: relative;
  width: calc(100% - 80px);
  left: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  top: 60px;
  background: none;
  outline: none;
  border: none;
  border-radius: 25px;
  margin: 20px 0px;
  font-size: 16px;
}

.frm input:focus {
  width: calc(100% - 40px);
  left: 20px;
}

#btm {
  position: absolute;
  bottom: 20px;
  font-size: 2opx;
  color: #9b9b97;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

#chk1:checked~.box {
  transform: rotateY(-180deg);
}

#chk2:checked~.box {
  transform: rotateY(-90deg);
}

.frm input::placeholder {
  color: #a2a0a0;
}