:root {
  --primary-color: #f84258;
  --secondary-color: darkcyan;
  --text-color: #333;
  --background-color: #ffffff;
  --header-height: 8vh;
  --transition-speed: 0.4s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  transition: background-color var(--transition-speed),
    box-shadow var(--transition-speed);
}

a {
  text-decoration: none;
  color: inherit;
}

nav a {
  padding: 10px;
  font-size: 1.2rem;
  line-height: 25px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
  transition: color var(--transition-speed);
  font-weight: bold;
}

nav ul li a {
  font-size: 0.87rem;
}

nav a:hover {
  color: var(--primary-color);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.logo-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.logo h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.logo-name {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--primary-color);
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}

.nav-links li {
  margin-left: 20px;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  list-style: none;
}

.nav-links li a:hover {
  color: var(--secondary-color);
}

.burger {
  display: none;
  cursor: pointer;
  margin-right: 10px;
  transition: color var(--transition-speed);
}

.burger div {
  background-color: var(--primary-color);
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all var(--transition-speed) ease;
}

/* Extra small screens */
@media (max-width: 479px), (max-height: 599px), (orientation: landscape) {
  .nav-links {
    position: fixed;
    right: 0px;
    height: calc(100vh - var(--header-height));
    top: var(--header-height);
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform var(--transition-speed) ease-in-out;
  }

  .nav-links li {
    margin: 20px 0;
    opacity: 0;
  }

  .burger {
    display: block;
    margin-right: 20px;
  }

  .nav-active {
    transform: translateX(0);
    justify-content: flex-start;
  }

  .nav-links li {
    opacity: 1;
    margin-top: 20px;
  }

  .nav-links li.fade-in {
    animation: navLinkFade 0.2s ease forwards;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .logo h3 {
    font-size: 1.2rem;
  }
}
