._success {
  border: none;
  padding: 45px;
  width: max-content;
  text-align: center;
  margin: 40px auto;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  /* Neumorphism effect */
  background: #e0e5ec;
  border-radius: 20px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1),
    -8px -8px 16px rgba(255, 255, 255, 0.7); /* Soft shadow effect */
}

._success i {
  font-size: 55px;
  color: #28a745;
}

._success h2 {
  margin-bottom: 12px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 10px;

  color: #495057;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9),
    -1px -1px 2px rgba(0, 0, 0, 0.1);
}

._success p {
  margin-bottom: 0px;
  font-size: 18px;
  color: #495057;
  font-weight: 500;

  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8),
    -1px -1px 2px rgba(0, 0, 0, 0.1);
}
