.merlin-grids1,
.merlin-grids2 {
  padding-left: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.merlin-grids2 {
  padding-right: 40px;
  grid-gap: 10px;
}

.merlin-grids1 {
  padding-top: 10px;
  padding-right: 30px;
  grid-gap: 20px;
}
.merlin-grids2 img:nth-child(2) {
  padding-top: 70px;
}

/* Media queries should be placed at the end of the CSS file */
@media screen and (max-width: 452px) {
  .merlin-grids1,
  .merlin-grids2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .merlin-grids1 {
    padding-top: 100px;
  }
  .merlin-grids2 img:nth-child(2) {
    padding-top: 20px;
  }
}

@media screen and (min-width: 453px) and (max-width: 780px) {
  .merlin-grids1,
  .merlin-grids2 {
    padding-left: 25px;
    padding-right: 25px;
  }
  .merlin-grids1 {
    padding-top: 120px;
  }
}

@media screen and (min-width: 781px) and (max-width: 1280px) {
  .merlin-grids1,
  .merlin-grids2 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .merlin-grids1 {
    padding-top: 140px;
  }
}
